<div class="row">
  <div class="large-12 columns">
    <% if current_user.id == @user.id || current_user.admin %>
        <h2 class="subheader">Editar usuario</h1>
        <%= render 'form' %>
    <% end %>
    <%= link_to 'Ver', @user %> |
    <%= link_to 'Volver', users_path %>
  </div>
</div>


