<div class="row">
  <div class="large-8 columns large-centered small-12 small-centered">
    <h2 class="subheader">Encontar personas</h2>
    <form class="custom">
      <input type="search" class="large" placeholder="Buscar una persona por nombre o correo" ng-model="user_query">
    </form>

    <ul class="no-bullet" >
      <li ng-repeat="user in users | filter:user_query" class="{{user.id}}">
        <h4 class="subheader"> <a href="/users/{{user.id}}/products"><img class="circle" ng-src="{{user.picture}}" alt="{{user.name}}"/> {{user.name}} </a> <small>Miembro desde: {{user.created_at | date:'MMM. dd, yyyy' }}</small> </h4>
      </li>
    </ul>

<% if current_user && current_user.admin? %>
    <pre>{{users | json }}</pre>
<% end %>
  </div>
</div>

