

<div class="row">
  <div class="large-12 columns">
    <% if current_user.id == @user.id %>
    <h2 class="subheader">Nuevo Producto </h2>

    <%= render 'form' %>
    <% else %>

        <div data-alert class="alert-box alert">No puedes crear productos en la alacena de <%= @user.name %><a href="#" class="close">&times;</a></div>

    <% end %>
	<div class="back">
		<%= link_to 'Volver', user_products_path(@user), :class => 'button terciary left' %>
	</div>
  </div>
</div>

